@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;500;700&display=swap");

:root {
  --main-color: #222222;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f5;
  color: var(--main-color);
  font-family: "Signika Negative", sans-serif;
  display: flex;
  justify-content: center;
}

.background-box {
  background-color: white;
  width: 370px;
  height: 796px;
  margin: 55px;
  padding: 44px 16px;
  border-radius: 30px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.095);
}

.status-bar {
  display: flex;
  justify-content: space-between;
  padding: 0 14px;
}

.profile {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
}

.profile__avatar {
  margin: 20px auto 40px auto;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  background-image: url("https://cdn.pixabay.com/photo/2016/11/29/06/08/woman-1867715_960_720.jpg");
  background-size: contain;
  background-position: center center;
  box-shadow: 0px 10px 20px 0px rgba(90, 67, 26, 0.247);
}

.profile h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 16px;
}

.profile h6 {
  font-size: 18px;
  font-weight: 500;
  color: gray;
}

.my-active-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}

.my-active-button button {
  border: none;
  border-radius: 100px;
  font-family: "Signika Negative", sans-serif;
  font-weight: 300;
  font-size: 18px;
  width: 125px;
  padding: 13px;
  margin: 10px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.095);
  cursor: pointer;
}

.my-active-button__shuffle {
  background-color: var(--main-color);
  color: white;
}

.my-active-button__like {
  background-color: white;
  color: gray;
}

.my-active-button__like .fa-heart {
  margin-right: 6px;
  color: var(--main-color);
}

.music-list {
  display: flex;
  flex-direction: column;
}

.music-list__part {
  border-radius: 10px;
  padding: 16px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.music-list__part:nth-child(2) {
  background-color: white;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.13);
}

.music-list__part-element {
  display: flex;
  align-items: center;
}

.music-list__avatar {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  margin-right: 20px;
}

.music-list__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.music-list__info p {
  color: gray;
  font-size: 14px;
}

.music-list__info h5 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 4px;
}

.music-list__option {
  color: gray;
}

.navbar-playlist {
  background-color: var(--main-color);
  color: white;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.493);
  padding: 16px 26px;
  margin: 0 auto;
  border-radius: 100px;
  position: relative;
  bottom: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-playlist__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-playlist__info p {
  font-size: 14px;
  color: gray;
  margin-bottom: 6px;
}

.navbar-playlist__info h4 {
  font-size: 18px;
}

.navbar-playlist__plaryer {
  display: flex;
  justify-content: space-between;
  width: 90px;
}

.album-cover {
  margin: 62px auto 64px auto;
  width: 265px;
  height: 265px;
  border-radius: 15px;
  background-image: url("https://cdn.pixabay.com/photo/2017/03/11/17/49/maple-2135514__340.jpg");
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 20px 35px 0px rgba(194, 36, 15, 0.336);
}

.album-title {
  text-align: center;
  margin-bottom: 42px;
}

.album-title h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 16px;
}

.album-title p {
  font-size: 18px;
  font-weight: 500;
  color: gray;
}

.music-player {
  display: flex;
  flex-direction: column;
  padding: 0 18px;
}

.music-player__time {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
}

.music-player__time p {
  color: gray;
  font-size: 14px;
}

.music-player__bar {
  display: flex;
  align-items: center;
  margin-bottom: 66px;
}

.music-player__bar-now {
  background-color: var(--main-color);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  left: 60%;
}

.music-player__bar-still {
  background-color: var(--main-color);
  width: 60%;
  height: 4px;
  border-radius: 50px;
}

.music-player__until {
  background-color: rgb(231, 231, 231);
  width: 40%;
  height: 4px;
  border-radius: 50px;
}

.player-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player-button__play {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: var(--main-color);
  box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.404);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-button__play i {
  position: relative;
  left: 2px;
}

.player-button__sub-act {
  color: rgb(167, 167, 167);
}
